*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: black;
}
header{
    background-color: black;
}
header h1{
    text-align: center;
    position: relative;
    font-size: 150px;
    margin-bottom: 125px;
    margin-top: 300px;
    top: 60%;
    color: white;
    background-image: url(FotoGugaMarques_06062018-14.jpg);
    width: 1505px;
    height: 380px;
    margin: 0;
    border: 0;
}
main{
    background-color: black;
}
main h1{
    font-size: 45px;
}
main img{
    margin-left: 50px;
}
main h1,h3,h4, p{
    color: white;
    margin-left: 50px;
    margin-top: 25px;
}
p{
    margin-right: 60px;
}
main h4, p{
    margin-bottom: 30px;
}
footer{
    background-color: rgb(27, 26, 26);
}
footer p{
    font-size: 15px;
    background-color: rgb(27, 26, 26);
}
footer p:first-of-type{
    margin-bottom: 0;
    margin-left: 150px;
    margin-right: 1060px;
}
footer p:nth-child(2n){
    margin-bottom: 0;
    margin-left: 600px;
    margin-right: 600px;
}
footer p:last-of-type{
    margin-top: 0%;
    margin-right: 150px;
    margin-left: 1060px;
}
footer img{
    margin-left: 150px;
}
footer h3:first-of-type{
    margin-left: 150px;
    color: rgb(96, 48, 48);
}
footer h3:nth-child(2n){
    margin-left: 610px;
    margin-right: 610px; 
    color: rgb(54, 54, 182); 
}
footer h3:last-of-type{
   margin-right: 250px;
   margin-left: 1060px;
   color: rgb(119, 92, 24);
}
footer h3{
    background-color: rgb(27, 26, 26);
}
footer a{
    padding: 10px 20px;
    margin-top: 40px;
}
footer a:first-of-type:hover{
    margin-bottom: 50px;
    color: black;
    background-color: rgb(233, 55, 55);
}
footer a:first-of-type{
    margin-left: 210px;
    margin-right: 1200px;
    color: white;
    background-color: yellowgreen;
}
footer a:nth-child(2n):hover{
    margin-bottom: 50px;
    color: white;
    background-color: rgb(16, 76, 31);
}
footer a:nth-last-child(2n){
    margin-left: 670px;
    margin-right: 260px;
    color: white;
    background-color: rgb(11, 11, 62);
}
footer a:last-of-type:hover{
    margin-bottom: 50px;
    color:white ;
    background-color: rgb(64, 64, 11);
}
footer a:last-of-type{
    margin-right: 150px;
    margin-left: 1200px;
    color: white;
    background-color: rgb(115, 47, 70);
}