*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0%;
    padding: 0%;
}
h1,h3,h4, p{
    color: white;
    margin-left: 50px;
    margin-top: 25px;
}
p{
    margin-right: 50px;
}
header h1{
    text-align: center;
    position: relative;
    font-size: 150px;
    margin-bottom: 125px;
    margin-top: 124px;
    top: 60%;
    color: white;
    background-image: url(7b2eabea-f66e-4a15-b783-7a734521aa40.JPG);
    width: 1600px;
    height: 400px;
    margin: 0;
    border: 0;
}
h4{
    margin-bottom: 30px;
}
main h1{
    font-size: 45px;
}
main img{
    margin-left: 50px;
}
footer{
    background-color: white;
}
