*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: black;
}
header{
    background-color: black;
}
header h1{
    text-align: center;
    position: relative;
    font-size: 150px;
    margin-bottom: 125px;
    margin-top: 300px;
    top: 60%;
    color: white;
    background-image: url(7b2eabea-f66e-4a15-b783-7a734521aa40.JPG);
    width: 1505px;
    height: 380px;
    margin: 0;
    border: 0;
}
main{
    background-color: black;
}
main h1{
    font-size: 45px;
}
main img{
    margin-left: 50px;
}
main h1,h3,h4, p{
    color: white;
    margin-left: 50px;
    margin-top: 25px;
}
p{
    margin-right: 60px;
}
main h4, p{
    margin-bottom: 30px;
}
footer{
    background-color: rgb(27, 26, 26);
}
footer p{
    font-size: 15px;
    background-color: rgb(27, 26, 26);
}
footer p:first-of-type{
    margin-bottom: 0;
    margin-left: 150px;
    margin-right: 1060px;
}
footer p:nth-child(2n){
    margin-bottom: 0;
    margin-left: 600px;
    margin-right: 600px;
}
footer p:last-of-type{
    margin-top: 0%;
    margin-right: 150px;
    margin-left: 1060px;
}
footer img{
    margin-left: 150px;
}
footer h3:first-of-type{
    margin-left: 150px;
}
footer h3:nth-child(2n){
    margin-left: 610px;
    margin-right: 590px;  
}
footer h3:last-of-type{
   margin-right: 250px;
   margin-left: 1060px;
}
footer h3{
    background-color: rgb(27, 26, 26);
}
footer a{
    color: white;
    padding: 10px 20px;
    margin-top: 40px;
}
footer a:hover{
    margin-bottom: 50px;
    color: black;
    background-color: white;
}
footer a:first-of-type{
    margin-left: 150px;
    margin-right: 450px;

}
footer a:nth-child(2n){
    margin-left: 650px;
}
footer a:last-of-type{
   margin-right: 250px;
}